.agents-section {
  margin: 50px 0 100px 0;
  background: #fff;
  padding: 50px;

  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    img {
      width: 50px;
    }
  }

  .agents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    .agent {
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .image-container {
      background-image: url("../../assets/AgentsBackdrop.png");
      position: relative;

      .info-container {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        width: 70%;
        text-align: center;
        bottom: -16px;
        background: #fff;
        border-radius: 8px;
        padding: 16px 5px;
        box-shadow: 0 0px 8.8px 2px rgba(0, 0, 0, 0.25);
        border-bottom: 4px solid #e2b116;

        h5 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

  .selected-agent {
    padding: 0 50px;
    .flex-row {
      gap: 50px;
      align-items: start;
    }
    .agent-info {
      padding-top: 10px;
      .agent-name-title {
        margin-bottom: 36px;
        h3 {
          text-transform: uppercase;
          font-size: 25px;
        }
        span {
          font-size: 16px;
        }
      }

      .agent-description {
        font-size: 20px;
        margin-bottom: 20px;
        padding-right: 80px;
        line-height: 1.8;
      }

      .agent-contact {
        display: flex;
        align-items: center;
        gap: 20px;

        .phone {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: bold;

          img {
            width: 30px;
          }
        }

        .email {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: bold;
          img {
            width: 27px;
          }
        }
      }
    }

    .flex-col {
      .agent-image {
        background-image: url("../../assets/AgentsBackdrop.png");
      }
      .view-agents {
        display: flex;
        align-items: center;
        gap: 5px;
        padding-left: 10px;
        margin-top: 15px;
        font-weight: 500;
        font-size: 18px;

        img {
          width: 30px;
        }
      }
    }
  }
}
